    <div class="px-4 pt-9 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 bg-green-200 mt-4">
        <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
          <div class="sm:col-span-2">
            <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center">
                <i class="fa-regular fa-leaf fa-2xl"></i>
                <h1 class="font-bold text-3xl">Brooklyn Plant Swap</h1>
            </a>
            <div class="mt-6 lg:max-w-sm">
              <p class="text-sm text-gray-800">
                This web application was developed by Simon Sywanyk, a full-stack Software Engineer based out of Brooklyn, New York.
              </p>
            </div>
          </div>
          <div class="space-y-2 text-sm">
          </div>
          <div>
            <span class="text-base font-bold tracking-wide text-gray-900">Let's connect!</span>
            <div class="flex items-center mt-4">
              <div>
                <img class="inline-block h-16 w-16 rounded-full" src="imgs/simonSywanyk.png" alt="">
              </div>
              <div class="ml-3">
                <p class="text-sm font-bold text-gray-700">Simon Sywanyk</p>
                <p class="text-xs font-medium text-gray-500">Software Engineer</p>
                <p class="text-xs font-medium text-gray-500">Brooklyn, New York</p>
              </div>
            </div>
            <div class="flex items-center mt-4 space-x-3">
              <a href="https://www.linkedin.com/in/simonsywanyk/" class="text-gray-600 transition-colors duration-300 hover:text-blue-600 hover:bg-white">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
                </svg>
              </a>
              <a href="https://twitter.com/SimonSywanyk" class="text-gray-600 transition-colors duration-300 hover:text-sky-400 hover:bg-white">
                <i class="fa-brands fa-square-twitter fa-2xl"></i>
              </a>
              <a href="https://github.com/SimonSywanyk" class="text-gray-600 transition-colors duration-300 hover:text-slate-800 hover:bg-white">
                <i class="fa-brands fa-square-github fa-2xl"></i>
              </a>
            </div>

          </div>
        </div>
        <div class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row">
          <p class="text-sm text-gray-600">
            © Copyright 2022 Simon Sywanyk. All rights reserved.
          </p>
        </div>
      </div>


</body>
</html>